@import 'tailwindcss';

@config '../../tailwind.config.ts';

@theme {
  --font-geist-mono:
    'Geist Mono', 'monospace', 'ui-sans-serif', 'system-ui',
    'BlinkMacSystemFont', 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  --font-geist: 'Geist', 'sans-serif';
}

base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold py-2;
  }
  h2 {
    @apply text-3xl font-bold py-2;
  }
  h3 {
    @apply text-2xl font-bold py-2;
  }
  h5 {
    @apply xsOrSm:text-lg;
  }
  p {
    @apply text-wrap text-justify py-2;
  }
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
